
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');





//fuentes
$monserrat : 'Montserrat', sans-serif;
$satisfy: 'Satisfy', cursive;
$josefin: 'Josefin Sans', sans-serif;
$roboto : 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$lato900 : 'Lato', sans-serif;
$mono: 'DM Mono', monospace;


//colores
$prinpipal : #012854;

$principal2: #143b65;
$contraste:  #a6bed5a7;
$costraste2: #A0b0be;
$contaste3 : #b0beca;
$negro: #000;
$azul: blue;




//tamaño
$telefonofold: 280px;
$telefono12: 412px;
$telefono: 480px;
$tablet5: 540px;
$tablet: 620px;
$tabletx: 750px;
$tabletminx: 751px;
$tablet8: 820px;
$tablet9: 920px;
$desktop: 1024px;
$desktopmin: 1060px;

$desktopmax: 1061px;
$desktopx: 1200px;
$desktopxl: 1400px;
$desktopxll: 2500px;

$separacion: 5rem;