@use '../base/mixins' as m;
@use '../base/variables' as v;





.contenedor-atencion{
    background-color: v.$contraste;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    gap:  10px;
    padding: 55px;
    padding-top: 0;
    padding-bottom: 35px;
    margin: 55px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
   
}

.atencion{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.atencion-t{
   
    flex-grow: 1;
}
.atecion-d {
    flex-grow: 1;
}


.atencion-title {
    
    font-family: v.$mono;
    font-weight: 300;
    font-weight: bolder;
    line-height: 1;
    font-size: 20px;
    color: v.$prinpipal;
    text-align: center;
    margin-bottom: 20px;
   
    
}

.atencion-description {
    font-family: v.$mono;
    font-weight: 300;
    font-size: 20px;
    color: v.$prinpipal;
    margin-bottom: 20px;
    line-height: 1.3;
    
}

