@use '../base/mixins' as m;
@use '../base/variables' as v;


.contenedor{
    background-color: v.$contraste;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    gap:  10px;
    padding: 55px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 55px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
   
}


.servicio{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 20px;
    padding-right: 20px;
   
}

.servicio-body{
    flex-grow: 0.5;
   
}

.servicio-title,
.servicio-description {
    margin: 0;
    line-height: 1;
}

.servicio-title {
    
    font-family: v.$mono;
    font-weight: 300;
    font-weight: bolder;
    line-height: 1;
    font-size: 20px;
    color: v.$prinpipal;
    text-align: center;
    margin-bottom: 20px;
    
}

.description {
    padding-left: 20px;
  padding-right: 20px;
}

.servicio-description {
    font-family: v.$mono;
    font-weight: 300;
    font-size: 20px;
    color: v.$prinpipal;
    margin-bottom: 20px;
    text-align: center;
    flex-grow: 1;

}

.servicio-description:hover {
    color: yellow;
}

